html(lang='ru')
    head
        title some title
        link(rel='stylesheet' href='/css/theme.css')
    body
        form(method='post' action='/')
            input(type='text' name='login')
            input(type='password' name='password')
            input(type='submit')