doctype html
html(lang="ru")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        //include bootstrap
        link(rel="stylesheet", href="./libs/bootstrap/css/bootstrap.css")
        script(src="./libs/bootstrap/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")

        //include jquerry + popper for bootstrap
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        
        //personal styles
        link(rel="stylesheet", href="./css/main_theme.css")

        title Werewolf the apocalypse Combat Log and Tracker
    body.main_page_bg
        main
            .container
                .row.justify-content-center.align-items-center.vh-100
                    .col-6
                        .card
                            .card-body
                                h5.card-title Combat Tracker
                                h6.card-subtitle.mb-2.text-muted Made for Werewolf: The Apocalypse To be in control of a battlefield
                                form.form-inline
                                    .form-group.mb-2
                                        label.sr-only(for='staticEmail2') Email
                                        input#staticEmail2.form-control-plaintext(type='text', readonly='', value='email@example.com')
                                    .form-group.mx-sm-3.mb-2
                                        label.sr-only(for='inputPassword2') Password
                                        input#inputPassword2.form-control(type='password', placeholder='Password')
                                    button.btn.btn-primary.mb-2(type='submit') Sign in